@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 94vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-top: 40px;
    margin-bottom: 20px;
}

header > h1 {
    text-align: center;
    font-size: 38px;
}

article {
    background-color: lightgray;
    width: 100%;
    max-width: 100px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.404);
}

article input[type='number'] {
    width: 80px;
    margin-bottom: 10px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    border: solid 1px lightgrey;
    outline: none;
}

article input[type='button'] {
    width: 84px;
    height: 25px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}