@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(105, 166, 235);
}

header {
    margin-top: 20px;
}

header > h1 {
    color: white;
    font-size: 38px;
    text-align: center;
}

article {
    margin: auto;
    background-color: white;
    width: 600px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    
}

article > form  input[type='number'] {
    margin-bottom: 20px;
    border: 1px solid rgb(173, 172, 172);
    outline: none;
    padding: 3px;
    text-align: center;
}

article form input[type='button'] {
    padding: 3px;
    font-weight: bold;
}

select {
    outline: none;
    padding: 3px;
    color: rgb(56, 55, 55);
}

