@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(206, 243, 255);
}

header {
    margin: 20px 0px
}

header > h1 {
    text-align: center;
    font-size: 39px;
}

article {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 1px 9px rgba(0, 0, 0, 0.404);
    text-align: center;
}

article label {
    font-size: 20px;
    font-family: monospace;
}

article  input[type='number'] {
    margin: 5px 0px;
    height: 25px;
    width: 200px;
    outline: none;
    border: 1px solid rgb(185, 185, 185);
    text-align: center;
    font-size: 17px;
    color: rgb(88, 87, 87);
}

input[type='number']:focus {
    border: 1px solid rgb(164, 250, 34);
    box-shadow: 0px 0px 4px rgb(0, 255, 0);
}

article  input[type='button'] {
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    width: 90px;
    margin-top: 10px;
}

div#result {
    margin-top: 10px;
}