@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(221, 242, 255);
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

article {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
    text-align: center;
}

main article input[type='number'] {
    height: 22px;
    width: 90px;
    margin-bottom: 15px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}

main article input[type='button'] {
    width: 93px;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
}