body {
    background-color: rgb(131, 184, 253);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
    border: 2px solid rgba(0, 0, 0, 0.637);
}

section #Inum {
    width: 70px;
    text-align: center;
    outline: none;
    border: 1px solid lightgrey;
    font-family: monospace;
    font-size: 16px;
}

section input[type='button'] {
    height: 24px;
    font-weight: bold;
}

section #Inum:focus {
    border: 1px solid rgb(150, 146, 146);
}

section select#flista {
    margin: 10px 0px 10px 0px;
    width: 150px;
}