@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,html {
    width: 100vw;
    height: 100vh;
}

main.conteiner {
    background-color: whitesmoke;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

article.filho {
    background-color: white;
    text-align: center;
    max-width: 100%;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
}

div {
    display: flex;
    justify-content: center;
}

article i.material-symbols-outlined {
    font-size: 45px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

article i.material-symbols-outlined:hover {
    color: rgb(221, 212, 212);
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    border: 2px solid rgb(189, 185, 185);
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

#relato {
    display: none;
}

.js_desc {
    padding: 5px 10px 10px 10px;
    text-align: justify;
    font-weight: bold;
    font-family: monospace;
    font-size: 19px;
    display: block
}

@media screen and (max-width: 430px) {
    article.filho {
        max-width: 100%;
        width: 85vw;
    }
}

