* {
    padding: 0px;
    margin: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
}

div#conteiner {
    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.retrato {
    background-color: rgb(241, 233, 233);
    width: 400px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid black;
    margin: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.342);
}

img {
    align-self: center;
    width: 100%;
    max-width: 250px;
    background-color: rgba(211, 211, 211, 0.479);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.342);
}

i.material-symbols-outlined {
    align-self: center;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    font-size: 40px;
}

i.material-symbols-outlined:hover {
    color: rgb(197, 192, 192);
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    border: 2px solid rgb(160, 156, 156);
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

p {
    text-align: justify;
    font-weight: bold;
    font-family: monospace;
    font-size: 17px;
    margin-top: 10px;
    display: none;
}

.relato {
    display: block;
}

