* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(170, 201, 190);
}

header {
    text-align: center;
    margin-top: 30px;
    font-size: 27px;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.479);
}

article {
    background-color: white;
    width: 550px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
}

article input[type='number'] {
    margin: 10px 0px;
    height: 25px;
    padding-left: 5px;
    outline: none;
    border: 1px solid rgb(201, 198, 198);
}

article input[type='button'] {
    width: 60px;
    height: 30px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid rgb(170, 166, 166);
}

input[type='button']:focus {
    background-color: rgb(226, 223, 223);
}

footer p {
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
}